#footer {
    font-size: .5em;
    border-top: 1px solid lightgrey;
}

#jumbotron {
    background-color: #ffa500;
    color: white;
    font-family: Roboto Condensed, sans-serif;
}

#projects {
    box-shadow: 10px 5px 5px grey;
}

#nav {
    background-color: #03244d;

}

#nameHeader {
    font-size: 4.5em;
}

#pullQuote {
    font-size: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #03244d;
    color: white;
    border-radius: 5px;
}

#mainText {
    padding-bottom: 45px;
}

#contactList li {
    margin-bottom: 2em;
    border-bottom: .5px solid #03244d;
    list-style-type: none;
}

#githubLink {
     font-size: 1.6em;
     font-style: italic;
 }

@media screen and (max-width: 370px) {
    #pullQuote {
        display: none;
    }
    .headerText {
        clear: both;
    }

}

